<main class="container" style="margin-top: 10px;">
  <mat-card fxFlex="100%" fxFlex.gt-xs="60%" fxFlexOffset.gt-sm="20%">
    <mat-card-title>SPIN Table Tennis Club Management System</mat-card-title>
    <form ngForm fxLayout="column" #f="ngForm" (ngSubmit)="submit(f.value)">
      <mat-form-field>
        <input matInput type="text" name="username" placeholder="Username" ngModel required>
        <mat-error>User name can't be empty</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password" minlength="6" required ngModel>
        <mat-error>Password as to be more than 5 characters long</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button type="submit" [disabled]="f.invalid">Login</button> &nbsp;
<!--        <a mat-button color="accent" (click)="logout()">Register</a>-->
      </div>
    </form>
  </mat-card>
</main>
