.gears-container {
  display: flex;
  flex-direction: row;
}
.gears-container {
  .gears-list-section {
    flex: 0 1 70%;
    margin: 20px;
    .gears-list-container {
      display: flex;
      flex-wrap: wrap;
      .gears-list-item {
        margin-bottom: 20px;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
.gears-list-item-text {
  color: rgba(0,0,0,0.54);
  line-height: 1.43em;
  font-family: 'Roboto','Helvetica-neue',sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

div.col-sm-1 {
  margin-top: 100px;
}
