<a [routerLink]="['/gear-detail/', g.gearId]">
  <div class="pic-container">
    <img src="{{g.image}}" alt="when image failed to load, will show this text"
         width="200" height="160">
  </div>
  <div class="locations-list-item-text text-info">
    {{g.name}}
  </div>
</a>
