.location-detail-container {
  margin-top: 30px;
}
.location-detail-title h3 {
  font-family: "Google Sans",sans-serif;
  font-size: 1.57em;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 1.72em;
  text-align: center;
}
.location-detail-image {
  width: 600px;
  min-width: 400px;
  height: 400px;
  min-height: 400px;
  align-content: center;
}
.location-detail-info-container {
  border-left: 1px solid #eee;
}
.location-detail-info-cart-button-container {
  margin-top: 20px;
}
button {
  color: whitesmoke;
  margin: 4px
}

div.pic-container {
  align-content: center;
}
