<div class="container-fluid" *ngIf="location">
  <div class="row location-detail-container">
    <div class="col-sm-6">
      <div class="location-detail-title">
        <h3>{{location.name}}</h3>
      </div>
      <div class="pic-container">
        <img src="{{location.image}}" alt="Not loading" class="location-detail-image">
      </div>
    </div>
    <div class="col-sm-6 location-detail-info-container">
      <br><br><br>
      <div>
        Address:
        {{location.address}}
      </div>
      <div>
        City: {{location.city}}
      </div>
<!--      <div>-->
<!--        Zip: {{location.zip}}-->
<!--      </div>-->
      <div>
        Email: {{location.email}}
      </div>
      <div>
        Hours: <pre>{{location.hours}}</pre>
      </div>
      <div class="location-detail-info-cart-button-container">
          <button class="btn btn-primary" [routerLink]="['/reserve/', this.locationId]">
            Party in {{location.name}}
          </button>
          <br>
          <button class="btn btn-primary" [routerLink]="['/event-add/', this.locationId]">
            Add event in {{location.name}}
          </button>
      </div>
    </div>
  </div>
</div>

