<div class="container-fluid">

<!--  {{member | json}}-->

  <form (ngSubmit)="onSubmit()" #memberRegisterForm="ngForm">

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" required placeholder="Name"
             [(ngModel)]="member.memberDetail.name">
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="text" class="form-control" name="phone" required placeholder="Phone Number"
             [(ngModel)]="member.memberDetail.phone">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email" required placeholder="Email Address"
             [(ngModel)]="member.memberDetail.email">
    </div>

    <div class="form-group">
      <label>Address</label>
      <input type="text" class="form-control" name="address1" required placeholder="Address"
             [(ngModel)]="member.memberDetail.address1">
    </div>

    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" name="city" required placeholder="City"
             [(ngModel)]="member.memberDetail.city">
    </div>

    <div class="form-group">
      <label>State</label>
      <input type="text" class="form-control" name="state" required placeholder="State"
             [(ngModel)]="member.memberDetail.state">
    </div>

    <div class="form-group">
      <label>zip</label>
      <input type="text" class="form-control" name="zip" required placeholder="Zip code"
             [(ngModel)]="member.memberDetail.zip">
    </div>

    <div class="form-group">
      <label>Tier</label>
      <select name="tier" class="form-control" [(ngModel)]="member.membershiptier.tierId">
        <option value="0" selected>Select the Member Tier</option>
        <option value="1">Visitor</option>
        <option value="2">Gold</option>
        <option value="3">Executive</option>
      </select>
    </div>

    <div class="form-group">
      <label>Member Since</label>
      <input type="text" class="form-control" name="memberSince" required placeholder="Member since"
             [(ngModel)]="member.memberSince">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!memberRegisterForm.form.valid">Update Member</button>

  </form>
</div>
