<h4>Events:</h4>
<hr>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Events">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="eventId">
    <th mat-header-cell *matHeaderCellDef>Event ID</th>
    <td mat-cell *matCellDef="let element">{{element.eventId}}</td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef>Location</th>
    <td mat-cell *matCellDef="let element">{{element.location.name}}</td>
  </ng-container>

  <ng-container matColumnDef="eventType">
    <th mat-header-cell *matHeaderCellDef>Event Type</th>
    <td mat-cell *matCellDef="let element">{{element.eventType.eventName}}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{element.date.substring(0, 10)}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Operation</th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="./{{element.eventId}}" class="btn btn-light btn-outline-info">Edit</a>
      <a (click)="delete(element.eventId)" class="btn btn-light btn-outline-danger">Delete</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row, columns: displayedColumns"></tr>

</table>

<a routerLink="../location" class="btn btn-info">Create an Event</a>


