<div class="container-fluid">

  <form (ngSubmit)="findMemberByName()" #findMemberForm="ngForm">
    <div class="form-group">
      <input type="text" class="form-control" name="name" required placeholder="find member by name"
        [(ngModel)]="name">
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!findMemberForm.form.valid">Search Member</button>
  </form>

  <div *ngIf="!member">
    <p>No member has been selected, create new member if it doesn't exist</p>
  </div>
  <div *ngIf="member">
    <p>The member you've chosen: {{this.member.memberDetail.name}}</p>

    <div class="reserve-container">

<!--      {{reserve | json}}-->

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="reserve.date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Start Time" [(ngModel)]="reserve.startTime">
          <mat-option value="12:00">12:00</mat-option>
          <mat-option value="12:30">12:30</mat-option>
          <mat-option value="13:00">13:00</mat-option>
          <mat-option value="13:30">13:30</mat-option>
          <mat-option value="14:00">14:00</mat-option>
          <mat-option value="14:30">14:30</mat-option>
          <mat-option value="15:00">15:00</mat-option>
          <mat-option value="15:30">15:30</mat-option>
          <mat-option value="16:00">16:00</mat-option>
          <mat-option value="16:30">16:30</mat-option>
          <mat-option value="17:00">17:00</mat-option>
          <mat-option value="17:30">17:30</mat-option>
          <mat-option value="18:00">18:00</mat-option>
          <mat-option value="18:30">18:30</mat-option>
          <mat-option value="19:00">19:00</mat-option>
          <mat-option value="19:30">19:30</mat-option>
          <mat-option value="20:00">20:00</mat-option>
          <mat-option value="20:30">20:30</mat-option>
          <mat-option value="21:00">21:00</mat-option>
          <mat-option value="21:30">21:30</mat-option>
          <mat-option value="22:00">22:00</mat-option>
          <mat-option value="22:30">22:30</mat-option>
          <mat-option value="23:00">23:00</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="End Time" [(ngModel)]="reserve.endTime">
          <mat-option value="12:00">12:00</mat-option>
          <mat-option value="12:30">12:30</mat-option>
          <mat-option value="13:00">13:00</mat-option>
          <mat-option value="13:30">13:30</mat-option>
          <mat-option value="14:00">14:00</mat-option>
          <mat-option value="14:30">14:30</mat-option>
          <mat-option value="15:00">15:00</mat-option>
          <mat-option value="15:30">15:30</mat-option>
          <mat-option value="16:00">16:00</mat-option>
          <mat-option value="16:30">16:30</mat-option>
          <mat-option value="17:00">17:00</mat-option>
          <mat-option value="17:30">17:30</mat-option>
          <mat-option value="18:00">18:00</mat-option>
          <mat-option value="18:30">18:30</mat-option>
          <mat-option value="19:00">19:00</mat-option>
          <mat-option value="19:30">19:30</mat-option>
          <mat-option value="20:00">20:00</mat-option>
          <mat-option value="20:30">20:30</mat-option>
          <mat-option value="21:00">21:00</mat-option>
          <mat-option value="21:30">21:30</mat-option>
          <mat-option value="22:00">22:00</mat-option>
          <mat-option value="22:30">22:30</mat-option>
          <mat-option value="23:00">23:00</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <p>Serving Robot Needed?</p>
      </div>

      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                       [(ngModel)]="reserve.robot">
        <mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
      </mat-radio-group>

    </div>

    <button mat-raised-button color="primary" (click)="addReservation()">Create Reservation</button>
    <span> </span>
    <button mat-raised-button color="accent" (click)="back()">Back to Locations</button>

    <div *ngIf="clicked">
      <p>A new reservation has been created successfully:</p>
      <p>Name: {{name}}</p>
      <p>Amount of Charge: ${{price}}</p>
    </div>

  </div>

</div>

