<div class="container-fluid" *ngIf="gear">
  <div class="row gear-detail-container">
    <div class="col-sm-6">
      <div class="gear-detail-title">
        <h3>{{gear.name}}</h3>
      </div>
      <div>
        <img src="{{gear.image}}" alt="Not loading" class="location-detail-image" width="200" height="160">
      </div>
    </div>
    <div class="col-sm-6 location-detail-info-container">
      <br><br><br>
      <div>
        Brand: {{gear.brand}}
      </div>
      <div>
        Category: {{gear.category}}
      </div>
      <div>
        Price: {{gear.price}}
      </div>
      <div>
        Amount in Stock: {{gear.amount}}
      </div>
      <div>
        <br>
        <p>Manage Stock</p>
      </div>
      <div>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                         [(ngModel)]="action">
          <mat-radio-button class="example-radio-button" [value]=1>Add</mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]=0>Remove</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <input type="number" min="0" [placeholder]=0 [(ngModel)]="amount">
      </div>
      <div class="gear-detail-info-cart-button-container">
        <button class="btn btn-primary" (click)="testStock()">
          Confirm
        </button>
        <button class="btn btn-info" (click)="back()">
          Back to gears
        </button>
      </div>
    </div>
  </div>
</div>
