<div class="container-fluid">

  <div *ngIf="location">
    <p>The Location you've chosen: {{this.location.name}}</p>

    <div class="event-container">

<!--            {{event | json}}-->

      <mat-form-field>
        <mat-select placeholder="Choose Event Type" [(ngModel)]="event.eventType.eventTypeId">
          <mat-option [value]=1>League Night</mat-option>
          <mat-option [value]=2>Group Lesson</mat-option>
          <mat-option [value]=3>Social Night</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="event.date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Start Time" [(ngModel)]="event.timeStart">
          <mat-option value="12:00">12:00</mat-option>
          <mat-option value="12:30">12:30</mat-option>
          <mat-option value="13:00">13:00</mat-option>
          <mat-option value="13:30">13:30</mat-option>
          <mat-option value="14:00">14:00</mat-option>
          <mat-option value="14:30">14:30</mat-option>
          <mat-option value="15:00">15:00</mat-option>
          <mat-option value="15:30">15:30</mat-option>
          <mat-option value="16:00">16:00</mat-option>
          <mat-option value="16:30">16:30</mat-option>
          <mat-option value="17:00">17:00</mat-option>
          <mat-option value="17:30">17:30</mat-option>
          <mat-option value="18:00">18:00</mat-option>
          <mat-option value="18:30">18:30</mat-option>
          <mat-option value="19:00">19:00</mat-option>
          <mat-option value="19:30">19:30</mat-option>
          <mat-option value="20:00">20:00</mat-option>
          <mat-option value="20:30">20:30</mat-option>
          <mat-option value="21:00">21:00</mat-option>
          <mat-option value="21:30">21:30</mat-option>
          <mat-option value="22:00">22:00</mat-option>
          <mat-option value="22:30">22:30</mat-option>
          <mat-option value="23:00">23:00</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="End Time" [(ngModel)]="event.timeEnd">
          <mat-option value="12:00">12:00</mat-option>
          <mat-option value="12:30">12:30</mat-option>
          <mat-option value="13:00">13:00</mat-option>
          <mat-option value="13:30">13:30</mat-option>
          <mat-option value="14:00">14:00</mat-option>
          <mat-option value="14:30">14:30</mat-option>
          <mat-option value="15:00">15:00</mat-option>
          <mat-option value="15:30">15:30</mat-option>
          <mat-option value="16:00">16:00</mat-option>
          <mat-option value="16:30">16:30</mat-option>
          <mat-option value="17:00">17:00</mat-option>
          <mat-option value="17:30">17:30</mat-option>
          <mat-option value="18:00">18:00</mat-option>
          <mat-option value="18:30">18:30</mat-option>
          <mat-option value="19:00">19:00</mat-option>
          <mat-option value="19:30">19:30</mat-option>
          <mat-option value="20:00">20:00</mat-option>
          <mat-option value="20:30">20:30</mat-option>
          <mat-option value="21:00">21:00</mat-option>
          <mat-option value="21:30">21:30</mat-option>
          <mat-option value="22:00">22:00</mat-option>
          <mat-option value="22:30">22:30</mat-option>
          <mat-option value="23:00">23:00</mat-option>
        </mat-select>
      </mat-form-field>

<!--      <p>Participants: {{this.names}}</p>-->


    </div>

<!--    <button mat-raised-button color="green" (click)="addParticipant()">Add Participant</button>-->
    <button mat-raised-button color="primary" (click)="addEvent()">Confirm Add</button>

<!--    <div *ngIf="addClicked">-->
<!--      <form (ngSubmit)="findMemberByName()" #findMemberForm="ngForm">-->
<!--        <div class="form-group">-->
<!--          <input type="text" class="form-control" name="name" required placeholder="find member by name"-->
<!--                 [(ngModel)]="name">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-success" [disabled]="!findMemberForm.form.valid">Search Member</button>-->
<!--        <button class="btn btn-info" (click)="confirmAdd()">Confirm</button>-->
<!--      </form>-->

<!--      <div *ngIf="!newMember">-->
<!--        <p>No member has been selected, create new member if it doesn't exist</p>-->
<!--      </div>-->
<!--      <div *ngIf="newMember">-->
<!--        <p>The member you've chosen: {{this.newMember.memberDetail.name}}</p>-->
<!--      </div>-->

<!--    </div>-->
  </div>
</div>

