<div class="container-fluid">

  <div *ngIf="reservation"><div *ngIf="member">
    <p>The member you've chosen: {{this.member.memberDetail.name}}</p>

    <div class="reserve-container">

<!--    {{reservation | json}}-->

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="reservation.date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Start Time" [(ngModel)]="reservation.startTime">
          <mat-option value="12:00">12:00</mat-option>
          <mat-option value="12:30">12:30</mat-option>
          <mat-option value="13:00">13:00</mat-option>
          <mat-option value="13:30">13:30</mat-option>
          <mat-option value="14:00">14:00</mat-option>
          <mat-option value="14:30">14:30</mat-option>
          <mat-option value="15:00">15:00</mat-option>
          <mat-option value="15:30">15:30</mat-option>
          <mat-option value="16:00">16:00</mat-option>
          <mat-option value="16:30">16:30</mat-option>
          <mat-option value="17:00">17:00</mat-option>
          <mat-option value="17:30">17:30</mat-option>
          <mat-option value="18:00">18:00</mat-option>
          <mat-option value="18:30">18:30</mat-option>
          <mat-option value="19:00">19:00</mat-option>
          <mat-option value="19:30">19:30</mat-option>
          <mat-option value="20:00">20:00</mat-option>
          <mat-option value="20:30">20:30</mat-option>
          <mat-option value="21:00">21:00</mat-option>
          <mat-option value="21:30">21:30</mat-option>
          <mat-option value="22:00">22:00</mat-option>
          <mat-option value="22:30">22:30</mat-option>
          <mat-option value="23:00">23:00</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="End Time" [(ngModel)]="reservation.endTime">
          <mat-option value="12:00">12:00</mat-option>
          <mat-option value="12:30">12:30</mat-option>
          <mat-option value="13:00">13:00</mat-option>
          <mat-option value="13:30">13:30</mat-option>
          <mat-option value="14:00">14:00</mat-option>
          <mat-option value="14:30">14:30</mat-option>
          <mat-option value="15:00">15:00</mat-option>
          <mat-option value="15:30">15:30</mat-option>
          <mat-option value="16:00">16:00</mat-option>
          <mat-option value="16:30">16:30</mat-option>
          <mat-option value="17:00">17:00</mat-option>
          <mat-option value="17:30">17:30</mat-option>
          <mat-option value="18:00">18:00</mat-option>
          <mat-option value="18:30">18:30</mat-option>
          <mat-option value="19:00">19:00</mat-option>
          <mat-option value="19:30">19:30</mat-option>
          <mat-option value="20:00">20:00</mat-option>
          <mat-option value="20:30">20:30</mat-option>
          <mat-option value="21:00">21:00</mat-option>
          <mat-option value="21:30">21:30</mat-option>
          <mat-option value="22:00">22:00</mat-option>
          <mat-option value="22:30">22:30</mat-option>
          <mat-option value="23:00">23:00</mat-option>
        </mat-select>
      </mat-form-field>

      <p>Serving Robot Needed?</p>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                       [(ngModel)]="reservation.robot">
        <mat-radio-button class="example-radio-button" [value]=1>Yes</mat-radio-button>
        <mat-radio-button class="example-radio-button" [value]=0>No</mat-radio-button>
      </mat-radio-group>

    </div>

    <button mat-raised-button color="primary" (click)="editReservation()">Confirm Edit</button>

  </div>

  </div></div>

