<h4>Reservations:</h4>
<hr>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Reservation">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="reservationId">
    <th mat-header-cell *matHeaderCellDef>Reservation ID</th>
    <td mat-cell *matCellDef="let element">{{element.reservationId}}</td>
  </ng-container>

  <ng-container matColumnDef="memberId">
    <th mat-header-cell *matHeaderCellDef>Member ID</th>
    <td mat-cell *matCellDef="let element">{{element.memberId}}</td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef>Location</th>
    <td mat-cell *matCellDef="let element">{{element.location.name}}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{element.date.substring(0, 10)}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Operation</th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="./{{element.reservationId}}" class="btn btn-light btn-outline-info">Edit</a>
      <a (click)="delete(element.reservationId)" class="btn btn-light btn-outline-danger">Delete</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row, columns: displayedColumns"></tr>

</table>

<a routerLink="../location" class="btn btn-info">Reserve A Table</a>


