<h4>Locations:</h4>
<hr>

<main class="locations-container">
  <section class="locations-list-section">
    <div class="locations-list-container">
      <app-location-overview *ngFor="let location of locations" [l]="location"></app-location-overview>
    </div>
  </section>
</main>
