.locations-container {
  display: flex;
  flex-direction: row;
}
.locations-container {
  .locations-list-section {
    flex: 0 1 70%;
    margin: 20px;
    .locations-list-container {
      display: flex;
      flex-wrap: wrap;
      margin-left: 100px;
      .locations-list-item {
        margin-bottom: 20px;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
.locations-list-item-text {
  color: rgba(0,0,0,0.54);
  line-height: 1.43em;
  font-family: 'Roboto','Helvetica-neue',sans-serif;
  font-size: 14px;
  margin-top: 10px;
}
